*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
:root{
    --primary-color:#b8b8d1;
    --secondary-color:#5b5f97;
    --tertiary-color:#0a2342;
    --text-color:#f1f1fb;
}

body{
    overflow: hidden;
}
.container{
   padding:0 30px;
   transition: 0.7s linear;
}
/*Header*/
header{
    background-color:var(--secondary-color);
    color:var(--text-color);
    width:100vw;
    height:70px;
}
#logo{
    font-size: 40px;
    font-weight: bold;
}
#menu{
    display:flex;
    align-items: center;
    gap:1rem;
    position: relative;
}
#menu i{
    font-size:25px;
    cursor: pointer;

}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
section{
    background:var(--primary-color);
    height:calc(100vh - 70px);
    overflow: hidden;
    display: flex;
    align-items: center; 
    flex-direction: column;
}
/*Formulario*/
#form-edit{
    outline: none;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0.2rem;
    padding-top:20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    border:none;
    width:100%;
    position: relative;
}

#text-area{
    height: 40px;
    width:250px;
    font-size:20px;
    border-radius:5px;
    padding-left:10px;
    border:none;
    outline: none;
}
#button-search{
    height:40px;
    width:45px;
    font-size:25px;
    border-radius:5px;
    border:none;
    outline: none;
    color:var(--text-color);
    background-color: var(--secondary-color);
    cursor:pointer;
}
#display-area{
    
    width: 95vw;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
/*Display de exibição*/
img{
    max-height:100%;
    max-width:100%;
    border-radius:5px;
    box-shadow:1px 1px 3px var(--tertiary-color);
}
/*Descrição*/
#description-area{
    display:flex; 
    flex-direction: row;
    gap:0.2rem;
    margin-top:20px;
    display:none;
    transition: 1s linear;
    padding: 5px;
    border-radius: 5px;
    background-color:var(--text-color);
    font-style: italic;
    font-weight: 100;
    
}
#description-area i {
    font-size:20px;
    color:var(--tertiary-color)
}
/*Informações*/
#close{
    z-index: 99;
    font-size: 20px;
    position: absolute;
    right:0;
    top:0;
    margin-top:-25px;
    cursor: pointer;
}
#Infos{
    color:var(--text-color);
    position: absolute;
    right:0;
    top:0;
    margin-top: 30px;
    margin-right: -20px;
    font-size: 15px;
    font-weight: 100;
    width:400px; 
    transition: 0.5s linear;
}
.opacit{
    display: none;
    transition: 0.5s linear;
}
ul{
    
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}
#back{
    position: absolute;
    background-color: #0a2342;
    width:400px;
    height: 200px;
    border-radius: 10px;
    padding:5px;
    transition:0.5s linear;
}

#fist-info{
    height: 50px;
    border-radius: 10px;
    padding:5px;
}

@media (max-width:900px){
    #logo {
        font-size: 29px;
        }
        .Infos {
         
            width: 345px;}
    #back{
      
        right:0;
        top:0;
        bottom:0;
        width: 345px;

    }
}